<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="GraphDomFiti Diagram Type"
            type="GraphDomFiti"
            id="GraphDomFiti.GraphDomFitiDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="GraphDomFiti Diagram Type Provider"
            class="graphdomfiti.diagram.GraphDomFitiDiagramTypeProvider"
            id="GraphDomFiti.GraphDomFitiDiagramTypeProvider">
         <diagramType
               id="GraphDomFiti.GraphDomFitiDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
