<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated graphDominationEMF -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="graphDominationEMF.presentation.GraphDominationEMFModelWizardID"
            name="%_UI_GraphDominationEMFModelWizard_label"
            class="graphDominationEMF.presentation.GraphDominationEMFModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphDominationEMFModelFile.gif">
         <description>%_UI_GraphDominationEMFModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated graphDominationEMF -->
      <editor
            id="graphDominationEMF.presentation.GraphDominationEMFEditorID"
            name="%_UI_GraphDominationEMFEditor_label"
            icon="icons/full/obj16/GraphDominationEMFModelFile.gif"
            extensions="graphdominationemf"
            class="graphDominationEMF.presentation.GraphDominationEMFEditor"
            contributorClass="graphDominationEMF.presentation.GraphDominationEMFActionBarContributor">
      </editor>
   </extension>

</plugin>
