<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="GraphDom.views"
            name="GraphDom"
            parentCategory="GraphDom.views">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="GraphDom.views"
            class="graphdom.views.views.SampleView"
            id="graphdom.views.views.SampleView">
      </view>
      <view
            category="GraphDom.views"
            class="graphdom.views.views.AlgorithmViewPart"
            icon="icons/sample.gif"
            id="graphdom.views.viewsAlgorithmView"
            name="Algorithm View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="GraphDomPerspective">
         <view
               ratio="0.2"
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="bottom"
               id="graphdom.views.viewsAlgorithmView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
