<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="GraphDomGraphics Diagram Type"
            type="GraphDomGraphics"
            id="GraphDomGraphics.GraphDomGraphicsDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="GraphDomGraphics Diagram"
            class="graphdomgraphics.diagram.GraphDomGraphicsDiagramTypeProvider"
            id="GraphDomGraphics.GraphDomGraphicsDiagramTypeProvider">
         <diagramType
               id="GraphDomGraphics.GraphDomGraphicsDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="graphdomgraphics.GraphDomNewWizard"
            id="GraphDomGraphics.NewWizard"
            name="New GraphDom">
      </wizard>
   </extension>
   
<extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="GraphDomGraphics.PropertyContributor"> 
        <propertyCategory category="Graphiti"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="GraphDomGraphics.PropertyContributor">
   <propertyTab
         category="Graphiti"
         id="graphiti.main.tab"
         label="Main">
    </propertyTab>
   </propertyTabs>
</extension>
     
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="GraphDomGraphics.PropertyContributor">
        <propertySection
              class="graphdomgraphics.properties.MyTutorialEClassSection"
              filter="graphdomgraphics.properties.MyTutorialEClassFilter"
              id="graphiti.main.tab.emfclass"
              tab="graphiti.main.tab">
        </propertySection>
    </propertySections>
</extension>
</plugin>
