<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="GraphDomGraphics Diagram Type"
            type="GraphDomGraphics"
            id="GraphDomGraphics.GraphDomGraphicsDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="GraphDomGraphics Diagram"
            class="graphdomgraphics.diagram.GraphDomGraphicsDiagramTypeProvider"
            id="GraphDomGraphics.GraphDomGraphicsDiagramTypeProvider">
         <diagramType
               id="GraphDomGraphics.GraphDomGraphicsDiagramType">
         </diagramType>
         <imageProvider
               id="graphdom.common.GraphdomImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   
	<extension
		point = "org.eclipse.ui.newWizards">
		<wizard
        class="graphdomgraphics.ui.CreateGraphdomProjectWizard"
        finalPerspective="graphdomgraphics.ui.GFPerspective"
        id="graphdomgraphics.ui.CreateSampleProjectWizard"
        name="%wizard.name"
        project="true">
			<description>%wizard.description</description>
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
        class="graphdomgraphics.ui.CreateDiagramWizard"
        finalPerspective="graphdom.presentation.GraphdomEditorAdvisorPerspective"
        id="graphdomgraphics.ui.CreateDiagramWizard"
        name="%wizard.name.0">
     <description>
        %wizard.description.0
     </description>
     <selection
           class="org.eclipse.core.resources.IContainer">
     </selection>
		</wizard>
	</extension>
  
<extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="GraphDomGraphics.PropertyContributor"> 
        <propertyCategory category="Graphiti"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="GraphDomGraphics.PropertyContributor">
   <propertyTab
         category="Graphiti"
         id="graphiti.main.tab"
         label="%propertyTab.label">
    </propertyTab>
   </propertyTabs>
</extension>
     
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="GraphDomGraphics.PropertyContributor">
        <propertySection
              class="graphdomgraphics.properties.NodeSection"
              filter="graphdomgraphics.properties.NodeFilter"
              id="graphiti.main.tab.emfclass"
              tab="graphiti.main.tab">
        </propertySection>
    </propertySections>
</extension>
 
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="graphdomgraphics.ui.GFPerspective"
            fixed="false"
            icon="icons/rialto16.gif"
            id="org.eclipse.graphiti.examples.common.perspective.GFPerspective"
            name="%perspective.name"/>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="graphdomgraphics.common.GraphdomImageProvider"
            id="graphdomgraphics.common.GraphdomImageProvider">
      </imageProvider>
   </extension>
</plugin>
