<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="GraphDomGraphics Diagram Type"
            type="GraphDomGraphics"
            id="GraphDomGraphics.GraphDomGraphicsDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="graphdomgraphics.diagram.GraphDomGraphicsDiagramTypeProvider"
            context="es.upm.fi.dmatic.graphs.domination"
            id="GraphDomGraphics.GraphDomGraphicsDiagramTypeProvider"
            name="GraphDomGraphics Diagram">
         <diagramType
               id="GraphDomGraphics.GraphDomGraphicsDiagramType">
         </diagramType>
         <imageProvider
               id="GraphdomImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   
	<extension
		point = "org.eclipse.ui.newWizards">
		<wizard
        canFinishEarly="false"
        class="graphdomgraphics.ui.CreateGraphdomProjectWizard"
        finalPerspective="GraphDomPerspective"
        id="graphdomgraphics.ui.CreateSampleProjectWizard"
        name="%wizard.name"
        project="true">
			<description>%wizard.description</description>
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
        class="graphdomgraphics.ui.CreateDiagramWizard"
        finalPerspective="GraphDomPerspective"
        id="graphdomgraphics.ui.CreateDiagramWizard"
        name="%wizard.name.0"
        project="false">
     <description>
        %wizard.description.0
     </description>
     <selection
           class="org.eclipse.core.resources.IContainer">
     </selection>
		</wizard>
  <primaryWizard
        id="graphdomgraphics.ui.CreateSampleProjectWizard">
  </primaryWizard>
  <primaryWizard
        id="graphdomgraphics.ui.CreateDiagramWizard">
  </primaryWizard>
	</extension>
  
<extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="GraphDomGraphics.PropertyContributor"> 
        <propertyCategory category="Graphdom"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="GraphDomGraphics.PropertyContributor">
      <propertyTab
            category="Graphdom"
            id="graphiti.algorithm.tab"
            label="%propertyTab.label.algorithm">
      </propertyTab>
      <propertyTab
            category="Graphdom"
            id="graphiti.graph.tab"
            label="%propertyTab.label.graph">
      </propertyTab>
   <propertyTab
         category="Graphdom"
         id="graphiti.node.tab"
         label="%propertyTab.label.node">
    </propertyTab>
   <propertyTab
         category="Graphdom"
         id="graphiti.edge.tab"
         label="%propertyTab.label.edge">
   </propertyTab>
   <propertyTab
         category="Graphdom"
         id="graphiti.main.tab"
         label="%propertyTab.label">
   </propertyTab>
   <propertyTab
         afterTab="graphiti.algorithm.tab"
         category="Graphdom"
         id="graphiti.statistics.tab"
         label="%propertyTab.label.statistics">
   </propertyTab>
   </propertyTabs>
</extension>
     
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="GraphDomGraphics.PropertyContributor">
        <propertySection
              class="graphdomgraphics.properties.AlgorithmSection"
              filter="graphdomgraphics.properties.GraphFilter"
              id="graphiti.algorithm.section"
              tab="graphiti.algorithm.tab">
        </propertySection>
        <propertySection
              class="graphdomgraphics.properties.GraphSection"
              filter="graphdomgraphics.properties.GraphFilter"
              id="graphiti.graph.tab.section"
              tab="graphiti.graph.tab">
        </propertySection>
        <propertySection
              class="graphdomgraphics.properties.NodeSection"
              filter="graphdomgraphics.properties.NodeFilter"
              id="graphiti.node.tab.section"
              tab="graphiti.node.tab">
        </propertySection>
        <propertySection
              class="graphdomgraphics.properties.EdgeSection"
              filter="graphdomgraphics.properties.EdgeFilter"
              id="graphiti.edge.section"
              tab="graphiti.edge.tab">
        </propertySection>
        <propertySection
              class="graphdomgraphics.properties.StatisticsSection"
              filter="graphdomgraphics.properties.GraphFilter"
              id="graphiti.statistics.section"
              tab="graphiti.statistics.tab">
        </propertySection>
    </propertySections>
</extension>
 
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="graphdomgraphics.ui.GFPerspective"
            fixed="false"
            icon="icons/rialto16.gif"
            id="GraphDomPerspective"
            name="GraphDom"/>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="graphdomgraphics.common.GraphdomImageProvider"
            id="GraphdomImageProvider">
      </imageProvider>
   </extension>
   
   <extension
      point="org.eclipse.core.resources.natures"
      id="graphdomgraphics.graphdomnature"
      name="GraphDom Nature">
      <runtime>
         <run class="graphdomgraphics.common.GraphdomProjectNature">
         </run>
      </runtime>
</extension>
   <extension
         id="GraphDomGraphics"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Graph Domination IDE">
         <property
               name="aboutText"
               value="GraphDom - Dominación en Grafos&#x0A;&#x0A;TFC&#x0A;&#x0A;Autor: David Gonzalo Blanco&#x0A;Tutor: Gregorio Hernández&#x0A;&#x0A;Facultad de Informática, Universidad Politécnica de Madrid">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="Graph Domination IDE">
         </property>
         <property
               name="perspective"
               value="GraphDomPerspective">
         </property>
         <property
               name="aboutImage"
               value="/es.upm.fi.dmatic.graphs.domination.product/images/GraphsDomination_256.png">
         </property>
         <property
               name="windowImages"
               value="/es.upm.fi.dmatic.graphs.domination.product/images/GraphsDomination_16.png,/es.upm.fi.dmatic.graphs.domination.product/images/GraphsDomination_32.png,/es.upm.fi.dmatic.graphs.domination.product/images/GraphsDomination_48.png,/es.upm.fi.dmatic.graphs.domination.product/images/GraphsDomination_256.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="graphdomgraphics.ui.CreateSampleProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="graphdomgraphics.ui.CreateDiagramWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               label="graphs toolbar"
               id="graphsToolbar">
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:graphsToolbar">
         <command
               commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
               icon="icons/shrink.png"
               label="Unmark All"
               style="push"
               tooltip="Unmark all nodes">
            <parameter
                  name="org.eclipse.graphiti.ui.featureHint"
                  value="UnmarkAllNodesCustomFeature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeContexts">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <equals
                           value="es.upm.fi.dmatic.graphs.domination">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
               icon="icons/expand.png"
               label="Generate Triangled Graph"
               style="push"
               tooltip="Generate Triangled Graph">
            <parameter
                  name="org.eclipse.graphiti.ui.featureHint"
                  value="GenerateRoundTriangGraphCustomFeature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeContexts">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <equals
                           value="es.upm.fi.dmatic.graphs.domination">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="graphsMenu"
               label="Graphs">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:graphsMenu">
         <command
               commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
               label="Unmark All"
               style="push"
               tooltip="Unmark all nodes">
            <parameter
                  name="org.eclipse.graphiti.ui.featureHint"
                  value="UnmarkAllNodesCustomFeature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeContexts">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <equals
                           value="es.upm.fi.dmatic.graphs.domination">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
               label="Generate Triangled Graph"
               style="push"
               tooltip="Generate Triangled Graph">
            <parameter
                  name="org.eclipse.graphiti.ui.featureHint"
                  value="GenerateRoundTriangGraphCustomFeature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeContexts">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <equals
                           value="es.upm.fi.dmatic.graphs.domination">
                     </equals>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="es.upm.fi.dmatic.graphs.domination"
            name="Graph Domination Framework context"
            parentId="org.eclipse.graphiti.ui.diagramEditor">
      </context>
   </extension>   
</plugin>
